/**
 * Created by solee on 1/26/16.
 */
'use strict';

var helper = require('../../utils/helper');

module.exports = function (sequelize, DataTypes) {
  return sequelize.define('{{.TableName}}', {
{{.ColumnDetails}}
  }, {
    timestamps: false,
    freezeTableName: true,
    hooks: {
      beforeCreate: function (instance, options) {
        instance.created_at = instance.updated_at = helper.currentTimestamp();
      },
      beforeUpdate: function (instance, options) {
        instance.updated_at = helper.currentTimestamp();
      },
      beforeBulkUpdate: function (options) {
        options.individualHooks = true;
      },
      beforeBulkCreate: function (instances, options) {
        options.individualHooks = true;
      }
    }
  });
};